.systemadmin{
    position: relative;
    background: #f4f5f8;
    min-height: 88vh;
}

.content{
    display: flex;

}
.maincontent{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: flex-start;
    flex-wrap: wrap;
}


